/* Global Variables */
:root {
  --accent-color: #1c2541;
  --primary-color: #1e1e1e;
  --secondary-color: #2a2a2a;
}

/* General Layout */
#root {
  min-height: 100dvh;
  min-width: 100dvw;
}

body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

/* Button Styles */
.btn-accent {
  background-color: var(--accent-color);
  color: #fff;
  outline: 1px solid #fff;
}

.btn-accent:hover {
  background-color: #fff;
  color: var(--accent-color);
}

.hover-accent:hover {
  cursor: pointer;
  background-color: #fff !important;
  color: var(--accent-color) !important;
}

.hover {
  cursor: pointer;
}

/* Background Colors */
.bg-primary {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

/* Text Styles */
.text-accent {
  color: var(--accent-color);
}

.text-muted {
  color: #fff !important;
  opacity: 0.7 !important;
}

/* Width Classes */
.w-lg-50 {
  width: 50%;
}

.w-lg-25 {
  width: 25%;
}

/* Animation */
.post, .network {
  animation-duration: .6s;
  animation-fill-mode: backwards;
  animation-name: fadeIn;
}

/* Filters */
.filter-invert {
  filter: invert(1);
}

/* Dialog Overlay */
.dialog-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.6);
  z-index: 999;
}

/* Media Queries */
@media (max-width: 500px) {
  .w-lg-50 {
    width: 100%;
  }

  .w-lg-25 {
    width: auto;
  }

  .chat-widget {
    height: 100dvh !important;
    width: 100dvw !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 9999 !important;
  }

  .chats-div, .chat {
    height: 70dvh !important;
  }

  .post, .comment {
    border: 0 solid black !important;
    border-radius: 0 !important;
  }

  .dialog {
    height: 100vh;
  }

  .border-sm-bottom {
    border-bottom: 1px solid #fff !important;
  }
}
