:root {
  --accent-color: #1c2541;
  --primary-color: #1e1e1e;
  --secondary-color: #2a2a2a;
}

#root {
  min-height: 100dvh;
  min-width: 100dvw;
}

body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

.btn-accent {
  background-color: var(--accent-color);
  color: #fff;
  outline: 1px solid #fff;
}

.btn-accent:hover {
  background-color: #fff;
  color: var(--accent-color);
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.dialog-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.6);
}

.hover-accent:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--accent-color);
}

.hover {
  cursor: pointer;
}

.post {
  animation-duration: .6s;
  animation-fill-mode: backwards;
  animation-name: fadeIn;
}

.network {
  animation-duration: .6s;
  animation-fill-mode: backwards;
  animation-name: fadeIn;
}

.w-lg-50 {
  width: 50%;
}

@media (max-width: 500px) {
  .w-lg-50 {
    width: 100%;
  }

  .post, .comment {
    border: 0 solid black !important;
    border-radius: 0 !important;
  }

  .dialog {
    height: 100vh;
    min-width: 100vw;
  }

  .border-sm-bottom {
    border-bottom: 1px solid #fff !important;
  }
}